.content {
  background: var(--divider);
  display: flex;
  justify-content: center;
  align-items: center;
  .articles-container {
    max-width: 800px;
    width: 100%;
    margin: 5rem 0 10rem 0;
    .article {
      background: white;
      padding: 0 5rem;
      margin-bottom: 6rem;
      border-radius: 3px;
      display: flex;
      flex-flow: column;
      align-items: center;
      box-shadow: var(--box-shadow);
      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin-top: -3rem;
      }
      h2 {
        margin-top: 1rem;
        margin-bottom: 0;
      }
      .article-author {
        color: var(--darkgrey);
        margin-bottom: 2rem;
      }
      .article-content {
        max-width: 600px;
        white-space: pre-line;
      }
      .article-action {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 2rem 0;
        margin-top: 2rem;
        border-top: 1px solid var(--divider);
        .btn {
          margin-left: 1rem;
        }
      }
    }
  }
}
