:root {
  --primary: #2ecc71;
  --dark: #27ae60;
  --darkgrey: #7f8c8d;
  --accent: #2c3e50;
  --text: #333;
  --divider: #ecf0f1;
  --font-family: "Open Sans", sans-serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  --footer: ##7f8c8d;
  --error: #e74c3c;
}
