@import "base";
@import "classes";
@import "media-querries";
@import "utils";
@import "reset";
@import "variables";

.container {
  min-height: 100vh; //at least all the heigh of viewport
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto/
    auto;
}
header {
  grid-area: header;
  background: green;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  a {
    color: white;
  }
  .header-brand {
    font-size: 4rem;
    font-weight: 700;
  }
  ul {
    display: flex;
    li {
      .header-nav {
        font-size: 1.8rem;
        padding: 0 10px;
      }
      .active {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

.content {
  grid-area: content;
  padding: 20px;
  background: var(--divider);
}

footer {
  grid-area: footer;
  background: white;
  color: var(--footer);
  text-align: center;
  font-size: 1.8rem;
  padding: 20px;
}
